.progress {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 30px;
    background-color: var(--gray);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    position: relative;
}

.progress .value {
    background-color: var(--blue-sapphire);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
}

.progress span {
    font-size: 1.2rem;
    z-index: 2;
}

.step {
    font-size: 1.1rem;
    margin-bottom: 30px;
    margin-top: 5px;
}

.account-user {
    margin-top: 10px;
}