.table {
    width: 100%;
    margin: 10px 0px;
}

.table,
.table th,
.table td {
    border-collapse: collapse;
}

.table td,
.table th {
    padding: 8px 4px;
    text-align: left;
}

.table thead {
    color: var(--color-text);
    background-color: var(--blue-sapphire);
}

.table thead {

}

.table tbody tr {
    border-bottom: 1px solid var(--blue-sapphire);
}

.table tbody .no-rows {
    text-align: center;

}

.table tbody tr td:last-child a {
    text-decoration: none;
}